
* {
  font-family: serif;
}

html {
  min-height: 100%;
  background-color: #000000 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100%;
}

main {
  margin: auto;
}

#home {
  height: 95vh;
}

#banner {
  background-size: contain;
  background-repeat: no-repeat;
}

#header-nav {
  background-color: darkred;
  border-bottom: 1px solid #fff;
}

.nav-item {
  width: 150px;
}

.nav-link:hover {
  background-color: #888;
}

#header-card {
  display: flex;
  margin: auto;
  height: 170px;
  max-width: 35rem;
  background-color: darkred;
  box-shadow: #888 0px 1px 4px, #888 0px 0px 0px 3px;
}

.header-card-title {
  font-size: 3.5rem;
  color: #fff;
}

.header-card-text {
  margin-bottom: 0 !important;
  font-size: 1.25rem;
  color: #fff;
  box-shadow: 0px 35px #888;
}

#main-image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#contato {
	background:#272727;
	color:#fff;
	padding-bottom:80px;
}

textarea.form-control{
  height: 150px;
}

.h-100-vh {
  height: 100vh !important;
}

.btn-primary-system {
  color: #fff !important;
  background-color: darkred !important;
}

.btn-purple-system {
  color: #fff !important;
  background-color: purple !important;
}

.btn-pink {
  color: #fff !important;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}